/*全局CSS样式设置*/
body,ul,li,h4,a,p,h5,img,span{margin:0px;padding:0px;}
ul,li,ol{list-style:none;}
a:link,a:visited{color:#444;text-decoration:none;}
a:hover{color:red;}
img{border:0px;}
body{
	font-size:12px;
	color:#FFC;
	font-family:Arial,宋体;
	font-weight:bold;
	/*background:#ccc url(../ ) repeat-x;*/
}
.inbox{
		display: inline-block;
		width: 220px;
		margin: 5px;
}
.container{
	position:relative;
}
nav{
	position: absolute;
	left: 0px;
	width: 200px;
}
section{
	margin-left: 200px;
}
.box{
	width:710px;
	margin:0px auto; 
}

/*全局css样式*/
#red{color:red;}
#noLine{border:none;}

/*logol样式*/
.logol{height:122px;}
.logol .div1{width:700px;height:120px;padding-top:23px;float:left;}


/*meau样式*/
.meau{height:33px;line-height:33px;}
.meau li{float:left;}
.meau a{background:url(../images/button2.jpg) no-repeat;width:100px;height:33px;text-align:center;display:block;font-weight:bold;
        font-size:18px;}

/*content1样式*/
.left{float:left;width:180px;} 
.left #miao{width:180px;height:50px;float:left;}
.left #md{color:black;}
.left .md1{}
.left .md2{float:left;}
.left .md3{float:left;margin-left:4px;}

/*本站快讯*/
.right1 #miao3{display:block;}
/*鲜花快讯*/
.right2{width:518px;float:right;text-align:center;}
.right2 li{float:left;}
.right2 p{color:#444;line-height:140%;}
.right2 img{width:106px;height:106px;padding:10px 10px;}
.a{padding:2px;color:#999;font-size:12px;font-weight:bold;}
.b{color:black;padding:2px;font-weight:bold;}
.md{clear:both;}


/*新品上市*/
.right4{width:518px;float:right;text-align:center;}
.right4 li{float:left;}
.right4 p{color:#444;line-height:140%;}
.right4 img{width:106px;height:106px;padding:10px 10px;}
.a{padding:2px;color:#999;font-size:12px;font-weight:bold;}
.b{color:black;padding:2px;font-weight:bold;}
.md{clear:both;}


/*鲜花分类*/
.red{color:#F06;}
.blue{color:#09F;}
.yy{float:left;width:180px;}
.yy hr{margin-top:281px;}
.yy1{color:black;font-size:14px;background:url(../images/leftbottom_.jpg) no-repeat;width:180px;height:16px;text-align:left;display:     block;font-weight:bold;margin-bottom:5px;}
.yy2{color:black;font-size:14px;background:url(../images/leftbottom_.jpg) no-repeat;width:180px;height:16px;text-align:left;display:     block;font-weight:bold;margin:6px 0px;}
.yy3{color:black;font-size:14px;background:url(../images/leftbottom_.jpg) no-repeat;width:180px;height:16px;text-align:left;display:     block;font-weight:bold;margin:6px 0px;}
.yy .content{padding:5px 10px; line-height:20px;width:166px;}
.yy .content h4{padding:5px 0px;}
.yy .content li{border-bottom:1px dashed #0099FF; padding:3px opx}
.yy span{font-weight:bold;float:left;padding:6px;}

/*个人信息*/
.message h3,h2,td{color:black;}
/*其他信息*/
.message1 h3{color:black;}





